.sombreado-pequeno, .carousel-item div {
    text-shadow: 0px 0px 10px #000;
}

.sombreado-medio {
    text-shadow: 0px 0px 30px #000;
}

.sombreado-grande {
    text-shadow: 0px 0px 60px #000;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: rgba(0,114,104,.5);
}

.btn-whatsapp {
    position: fixed;
    right: 2px;
    bottom: 2px;
}

body {
    background-image: url('/assets/img/fullsize/fundo-da-parede-de-estuque.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: 100% 100%;
    font-family: 'Aleo';
}

.borda-branca {
    text-shadow:
        1px 0 #fff,
        -1px 0 #fff,
        0 1px #fff,
        0 -1px #fff,
        1px 1px #fff,
        -1px -1px #fff,
        1px -1px #fff,
        -1px 1px #fff;
}

.borda-preta {
    text-shadow:
        1px 0 #000,
        -1px 0 #000,
        0 1px #000,
        0 -1px #000,
        1px 1px #000,
        -1px -1px #000,
        1px -1px #000,
        -1px 1px #000;
}

@font-face {
    font-family: 'Californian FB';
    src: url('../../assets/fonts/californian-fb-3.ttf?v=1.00') format('truetype'),
    url('../../assets/fonts/californian-fb-bold.ttf?v=1.00') format('truetype'),
    url('../../assets/fonts/californian-fb-italic.ttf?v=1.00') format('truetype');
}

/* latin-ext */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/c4mv1nF8G8_swAPJ0Q1o.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    src: url(../../assets/fonts/c4mv1nF8G8_swA3J0Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.arquiteta {
    font-family: 'Californian FB';
}

#info p {
    color: #000;
}

.branco-transparente {
    filter: opacity(60%);
    border-radius: 5px;
    background-color: #fff;
    margin: 5px;
}

.has-error {
    background-color: aquamarine;
}

.help-block {
    color: red;
}